@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-Bold.woff2") format("woff2"),
    url("assets/fonts/HankenGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-Medium.woff2") format("woff2"),
    url("assets/fonts/HankenGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/HankenGrotesk-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-lightRed: hsl(0, 100%, 67%);
  --primary-orangeYellow: hsl(39, 100%, 56%);
  --primary-greenTeal: hsl(166, 100%, 37%);
  --primary-cobaltBlue: hsl(234, 85%, 45%);
  /* Gradients */
  --light-slateBlue-background: hsl(252, 100%, 67%);
  --light-royalBlue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grayBlue: hsl(224, 30%, 27%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk";
  font-size: 1.8rem;
}

/* buttons */
.btn {
  border-radius: 35px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 3rem;
  outline: none;
  padding: 2rem 0;
  width: 300px;
}

.btn--primary {
  background: var(--dark-grayBlue);
}

.btn:hover,
.btn:focus {
  background: var(--violet-blue-circle);
}
