@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-Bold.woff2") format("woff2"),
    url("assets/fonts/HankenGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-Medium.woff2") format("woff2"),
    url("assets/fonts/HankenGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/HankenGrotesk-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-lightRed: hsl(0, 100%, 67%);
  --primary-orangeYellow: hsl(39, 100%, 56%);
  --primary-greenTeal: hsl(166, 100%, 37%);
  --primary-cobaltBlue: hsl(234, 85%, 45%);
  /* Gradients */
  --light-lateBlue-background: hsl(252, 100%, 67%);
  --light-royalBlue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grayBlue: hsl(224, 30%, 27%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk";
  font-size: 1.8rem;
  background: var(--pale-blue);
  /* color: var(); */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

@media screen and (min-width: 678px) {
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.4em;
  }
}

/* buttons */
.btn {
  border-radius: 35px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  outline: none;
  padding: 1.8rem 0;
  width: 100%;
}

.btn--primary {
  background: var(--dark-grayBlue);
}

.btn:hover,
.btn:focus {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%) 70%);
}

/* points */

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    hsla(256, 72%, 46%, 0.8),
    hsla(256, 72%, 46%, 0.05)
  );
  width: 200px;
  height: 200px;
  margin: 3.5rem 0;
  border-radius: 100%;
}

.average-points {
  text-align: center;
}

.results__overall {
  font-weight: bold;
  opacity: 0.4;
}

.results__mark {
  font-weight: bolder;
  font-size: 7rem;
  display: block;
  color: var(--white);
}

/* score */
.score {
  background: hsl(166, 100%, 37%, 0.05);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 1.6rem;
}

.score__name {
  display: flex;
  align-items: center;
}

.score__icon {
  margin: 1.4rem 1.3rem;
}

.score__category {
  font-weight: 500;
  color: var(--primary-lightRed);
}

.score__mark {
  font-weight: 600;
  margin-right: 1rem;
  color: hsl(224, 30%, 27%, 0.4);
}

.score__value {
  color: var(--dark-grayBlue);
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 678px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* card */

.card {
  box-shadow: 0 15px 70px var(--light-lavender);
  min-width: 360px;
  max-width: 740px;
  border-radius: 30px;
  background: var(--white);
}
.card__text {
  margin: 0;
  font-size: 2.4rem;
}
.card__header {
  background: linear-gradient(hsl(241, 81%, 54%, 0.75), hsl(241, 81%, 54%));
  box-shadow: 0 15px 70px var(--light-lavender);
  padding: 4.1rem;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.card__header p {
  opacity: 0.7;
}

.card__header-message {
  margin: 1.4rem 0 0 0;
}

.card__content {
  padding: 3.9rem;
}

.card__content-heading {
  margin-bottom: 2.8rem;
  color: var(--dark-grayBlue);
}

.card__content-score {
  margin-bottom: 4rem;
}

@media screen and (min-width: 678px) {
  .card__header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .card__text {
    font-size: 3rem;
  }

  .card__header-message {
    font-size: 2rem;
  }
}
